body{
	background-color: #355764;
	padding: 0px;
	margin: 0px;
}
#home_page{
	background-color: #d4f6cc;
	top: 25vh;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 25px;
	height: 30vh;
	width:50vw;
}
#login_home_page{
	background-color: #81cacf;
	top: 25vh;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	height: 41vh;
	width: 50vw;
}
#register_home_page{
    background-color: #81cacf;
	top: 25vh;
	height: 65vh;
	width: 70vw;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	
}
#admin_login{
	background-color: #81cacf;
	top: 25vh;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	height: 41vh;
	width: 50vw;
}
#header{
	background-color: #d4f6cc;
	height:8vh;
	width: 101vw;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 50px;
}
#logout_link{
	text-decoration: none;
	color: white;
}
#left_sidebar{
	margin-top: 50px;
	width: 13vw;
	height: 30vh;
	display: inline-block;
}
#left_sidebar table tr{
	background-color: #0096ff;
	color: white;
	font-size: 18px;
}
#left_sidebar table tr:hover{
	background-color: #d4f6cc;
	font-size: 20px;
	color: black;
}
#logout_link{
	text-decoration: none;
	color: white;
}
.link{
	text-decoration: none;
	color: white;
}
.link:hover{
	text-decoration: none;
	color: black;
}
#logout_link:hover{
	background-color: #d4f6cc;
	color:black;
}
#right_sidebar{
	padding:35px ;
	height: 75vh;
	width: 75vw;
	display: inline-block;
	color:white ;
}
